* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
  }
  
  body {
    background-image: url('https://ufob.edu.br/noticias/roda-de-conversa-debate-saude-mental-na-era-das-redes-sociais/magem-em-fundo-lilas-com-desenho-de-jovem-acuado-em-frente-a-uma-tela-de-notebook/@@images/032dfb21-c1ba-4990-9b59-7c4c38106a2a.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
  }
  
  .cadastro-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .card-panel {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  h5 {
    color: #333; 
    font-family: 'Arial', sans-serif;
  }
  
  .input-field input:focus + label,
  .input-field input:not(:placeholder-shown) + label {
    color: #007bff; 
    font-size: 12px; 
    top: -20px; 
  }
  
  .input-field label {
    transition: all 0.2s ease; 
  }

  .red-text {
    color: red; 
  }
  

  