.cadastro-endereco-container {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    color: #555;
  }
  