.container.Endereco {
  background-color: #ffb6c1; /* Cor de algodão doce (rosa claro) */
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select.Endereco {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff69b4; /* Botão rosa */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff1493; /* Cor mais escura ao passar o mouse */
}

.error {
  color: red;
  font-size: 12px;
}
